.Auth {
    padding-top: 60px;
    width: 400px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    border: 2px solid green;
  
}
h1 {
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid red;
}